.filter {
    display: flex;
    flex-direction: column;
    gap: 20px;
  
    h1 {
      font-weight: 300;
      font-size: 24px;
    }
  
    .item {
      display: flex;
      flex-direction: column;
      gap: 2px;
  
      label {
        font-size: 10px;
      }
  
      input,
      select {
        width: 200px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 14px;
        transition: border-color 0.3s ease;
  
        &:focus {
          border-color: #333;
        }
      }
    }
  
    .top {
      input {
        width: 100%;
      }
    }
  
    .bottom {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 20px;
  
      button {
        width: 100px;
        padding: 10px;
        border: none;
        cursor: pointer;
        background: linear-gradient(135deg, #ff7e5f, #feb47b);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        transition: background 0.3s ease;
  
        &:hover {
          background: linear-gradient(135deg, #feb47b, #ff7e5f);
        }
  
        img {
          width: 32px;
          height: 32px;
        }
      }
    }
  }